<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ding-ding.css') }}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicons/site.webmanifest') }}">

  <title>{% block title %}{% endblock %} Ding-Ding</title>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand fixed-bottom navbar-dark bg-dark">
    <div class="navbar-nav font-weight-bold mx-auto">
      <a class="nav-link px-3" href="#">About</a>
      <a class="nav-link px-3" href="#">Order</a>
      <a class="nav-link px-3" href="#">Profile</a>
    </div>
  </nav>

  <!-- Name of the Company and slogan -->
  <header id="hero" class="container text-center header-img">
    <h1>Ding-Ding</h1>
  </header>

  <!-- About company, promotions etc. -->
  <main id="about" class="">

    <!-- Carousel -->
    <div class="carousel">

    </div>

    <div class="row">

    </div>
  </main>

  <footer id="contacts" class="footer bg-dark text-light">
    <!-- some useful links, contacts -->

    <div class="border-top border-secondary">
      <!-- Copyright etc. -->
      <p class="text-center text-muted">&#169; Copyright</p>
    </div>
  </footer>

  <!-- Bootstrap JavaScript -->
  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='js/ding-ding.js') }}"></script>

</body>

</html>
