html, body {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
}

.index-hero {
  background: url("../img/jumbotron.jpg") no-repeat center;
}

.auth {
  max-width: 500px;
}

.form-textarea {
    resize: none;
}

.index {
  margin-top: 46px;
}

.full-vh {
  min-height: calc(100vh - 46px);
}

#admin {
  padding-left: 250px;
  width: calc(100vw - 250px);
}

.store-img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.item-card {
  height: 400px;
}

.item-card-img {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.sidebar {
  width: 250px;
}

.type-link, .type-link:visited {
  color: #ffac33;
}

.type-link:active, .type-link:hover, .type-link:focus, .type-link.active {
  color: #cc8a29;
}

.store-link, .store-link:visited {
  color: #f8f9fa;
}

.store-link:active, .store-link:hover, .store-link:focus, .store-link.active {
  color: #cacbcc;
}

.sidebar .overflow-auto {
  height: calc(100vh - 220px);
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-auto {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-auto::-webkit-scrollbar {
  display: none;
}

.toast-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.success-toast, .fail-toast {
  cursor: pointer;
}

#admin > .spinner-border {
  position: absolute;
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

#stores > .spinner-border {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}
