html, body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  background: url("../img/jumbotron.jpg") no-repeat center;
}

.auth {
  max-width: 500px;
}

.form-textarea {
    resize: none;
}

.full-vh {
  height: calc(100vh - 46px);
}

.index {
  padding-top: 46px;
}

.admin {
  padding-left: 250px;
}

.sidebar {
  width: 250px;
}
